@import './base.css';

/* ===== */
/* Utilities */
.hidden {
  display: none !important;
}

/* ===== */
/* Slexy */
.slexy-list .slexy:last-child {
  border-bottom: none;
}

.slexy {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.slexy .row {
  max-width: 20rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.slexy .row:first-child {
  margin-top: 0;
}

/* Slexy - Select */
.slexy__select {
  min-width: 14rem;
  font-size: 0.85rem;
}

/* Slexy - Other option */
.slexy__input {
  min-width: 13.6rem;
  font-size: 0.85rem;
}

/* Slexy - Note */
.slexy__invalid-note label {
  color: red;
  font-size: 0.6rem;
}

/* Slexy - Controls */
.slexy__control {
  font-size: 0.8rem;
}

.slexy__control:hover {
  text-decoration: underline;
  cursor: pointer;
}
